/*
body {
  font-size: 10px;
}
*/

h6 {
  font-size: 15px;
  padding: 12px;
}

/* force static row size for variable input types */
.variable-row{
  height: 100px;
  /* border-top: 5px solid gray; */
  border-top: 1px solid black;
  animation: fadein 2s;
  /*background-color: black;
    -webkit-transition: background-color 2s ease-out;
    -ms-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    */
  }
  
/* simple footer to style with a <div>id="site-footer"</div> */
/* could define ellaborate footer in footer.html */
/* would like to keep footer low on page when content is minimal */
#site-footer {
  margin-top: 50px; /* space between content and footer */
	background: #375a7f center no-repeat;
	border-top: 3px solid black;
	text-align: left;
	vertical-align: middle;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
  padding-top: 25px; 
  padding-bottom: 5%; 
  padding-left: 5%;
  box-shadow: 0 50vh 0 50vh #375a7f;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: gray;
  padding: 5px;
  padding-top: 10px;
  z-index:999;
  border: 1px solid #212121;
  box-shadow: 5px 5px 5px #404040;
}

/* modal windows */
.modal-dialog {
    z-index:99999;
}

.fade {
    background-color: black;
    -webkit-transition: background-color 2s ease-out;
    -ms-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

/*
div {
  animation: fadein 2s;
}
*/